* {
    box-sizing: border-box;
}

body {
    font-family: 'Microsoft YaHei', '微软雅黑', Heiti, '黑体', sans-serif;
    font-size: small;
    margin: 0;
    padding: 0;
    color: #282b2b;
    background-color: #fdfdfd;
}

header {
    background-color: #4cbe98;
    box-shadow: 0 1px 15px;
}

#headimage {
    display: block;
    width: 24%;
    margin: 0 auto;
}

#down {
    /*    height: 600px;*/
    border-radius: 15px;
    background-color: #4cbe98;
    box-shadow: 0 -1px 15px;
    margin: 8vh 0 0;
}

#main {
    overflow: hidden;
    width: 38%;
    margin: 0 auto;
}

#me,
#computer {
    text-align: center;
    border-radius: 0 0 40px 40px;
    background-color: #ddd;
    float: left;
    width: 25%;
    margin-bottom: 5vh;
    padding-bottom: 1vh;
}

#me img,
#computer img {
    margin: 1.2vh 0;
    padding: 4px 0;
    width: 70%;
    /*    height: 100%;*/
}

#me-title,
#computer-title {
    font-size: 2.5vmin;
    text-align: center;
    padding-top: 1.5vh;
}

#mid {
    text-align: center;
    float: left;
    width: 50%;
}

#result {
    line-height: 106%;
    /*    text-align: center;*/
    font-size: 7vmin;
    background-color: #4cbe98;
}

#score {
    text-align: center;
    font-size: 2.5vmin;
    width: 38vw;
    margin: 3vh auto 0;
    background-color: #4cbe98;
    box-shadow: 0 1px 5px;
    border-radius: 8px;
    padding: 8px 0;
}


/* 鼠标悬停样式 */

.mouseOver,
.mouseClick {
    -webkit-transition: box-shadow 500ms, border-radius 80ms;
    transition: box-shadow 500ms, border-radius 80ms;
    border-radius: 5px;
    box-shadow: inset 0 0 10px #333;
}


/*鼠标点击样式*/

.mouseClick {
    -webkit-transition: background-color 100ms, box-shadow 100ms;
    transition: background-color 100ms, box-shadow 100ms;
    background-color: #96a7b8;
    box-shadow: inset 0 0 13px #333;
}


/*提示框样式*/

.arrow_box {
    box-sizing: content-box;
    font-size: 16px;
    position: relative;
    visibility: hidden;
    float: left;
    width: 200px;
    height: 25px;
    padding: 10px;
    opacity: .91;
    border: 1px solid #eff4ff;
    border-radius: 6px;
    background: #bfd0e1;
    box-shadow: 0 1px 7px rgba(0, 0, 0, .3);
}

.arrow_box span.bot {
    position: absolute;
    top: 45px;
    left: 5px;
    width: 0;
    height: 0;
    border-width: 10px 7px;
    border-style: dashed;
    border-color: #eff4ff #eff4ff transparent transparent;
}

.arrow_box span.top {
    position: absolute;
    top: 42px;
    left: 4px;
    width: 0;
    height: 0;
    border-width: 10px 7px;
    border-style: dashed;
    border-color: #bfd0e1 #bfd0e1 transparent transparent;
}
